*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    min-width: 100%;
    background: red;
    min-height: 3vw;

    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card *{
    flex: 1 1 0;
}

.white_card{
    background-color: white;
}

.gray_card{
    background-color: #f8f8f8;
}

.price{
    flex: 0.3 1 0;
}

.order_button{
    border-radius: 5px;
    border: none;
    text-align: center;

    height: 1.6vw;

    font-weight: bold;

    background-color: orange;

    flex: 0.3 1 0;

    transition: .15s ease;
    cursor: pointer;
}

.order_button:hover{
    background: #495a91;
    color:white;
    transform: scale(1.05);
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 90vw;
    }

    .card{
        min-height: 5vw;
    }
}

@media screen and (max-width: 960px) {
    .container {
        max-width: 90vw;
    }

    .card{
        min-height: 6vw;
        font-size: 2.5vw;
    }
    .order_button{
        height: 100%;
    }
}

@media screen and (max-width: 650px) {
    .requiredWorks_p{
        display: none;
        flex: 0 0 0;
    }
    .card{
        min-height: 7vw;
        font-size: 2.5vw;
    }
    .order_button{
        height: 150%;
    }
}

@media screen and (max-width: 450px) {
    .order_button{
        display: none;
    }
    .name{
        font-size: 4vw;
    }
    .price{
        font-size: 4vw;
    }
}