.container {
    max-width: 1200px;
    margin: auto;
    position: relative;
    height: 100%;

    display: flex;
    justify-content: space-between;
}


.main_communication {
    padding-top: 3.5rem;
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f2f4f6;
}

.info{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    z-index: 3;
    
}

.info h1{
    text-transform: none;
    text-align: left;
    font-weight: 500;
    font-size: 3vw;
    line-height: 0.9;
}

.info_text h2{
    text-transform: none;
    text-align: left;
    font-weight: 400;
    font-size: 2vw;

    display: flex;
    align-items: center;
    gap: 10px;
}

.to_home_h2{
    margin-top: 1vw;
    
}

.whatsapp_text span{
    font-weight: bold;
    color: #229954;
}

.whatsapp{
    height: 2vw;
    object-fit: contain;
}

.number{
    color: orange;
    text-decoration: none;

    transition: .15s ease;
}

.number:hover{
    text-decoration: underline;
}

.features{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
}

.features p{
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 15px;

    padding: 10px 50px;
}

.btn{
    padding: 20px 40px;
    border: none;
    background: #0099ff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 15px;

    color: white;
    font-weight: 600;
    font-size: 1vw;

    transition: .15s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(0.95);
}

.fridge{
    position: absolute;
    width: 35vw;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 930px;
    }
    .features{
        width: 90%;
    }
    .btn{
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 960px) {
    .container {
        max-width: 90vw;
    }
    .btn{
        font-size: 1.5vw;
    }

}

@media screen and (max-width: 750px) {
    .info{
        width: 100%;
    }
    .features{
        width: 100%;
    }
    .fridge{
        display: none;
    }

    .info h1{
        font-size: 5vw;
    }
    
    .info h2{
        font-size: 4vw;
    }

    .features p{
        font-size: 3vw;
        padding: 10px 20px;
    }
    .btn{
        font-size: 2.5vw;
    }

    .whatsapp{
        height: 4vw;
    }
}

@media screen and (max-width: 650px) {
    .whatsapp{
        height: 5vw;
    }
}
