.card{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background: white;

    font-size: 1.2vw;

    width: 170px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .15s;

    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
    transform: translateY(-10%);
}

.empty{
    background: none;
    box-shadow: none;
}


@media screen and (max-width: 1000px) {
    .card{
        width: 170px;
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 800px) {
    .card {
        width: 200px;
        font-size: 2vw;
    }
}

@media screen and (max-width: 650px) {
    .card {
        width: 150px;
        font-size: 5vw;
    }
}